absl-py
aiohttp
aiosqlite
astunparse
asyncio
autopep8
google-generativeai
imageio
IProgress
ipykernel
ipywidgets
langchain-community
langchain-huggingface
langchain-qdrant
langchain-text-splitters
matplotlib
nextcord
numpy<2
ollama
pandarallel
pandas
prettytable
qdrant-client
rank_bm25
retry
scikit-learn
seaborn
sentence-transformers
statsmodels
streamlit
tabulate
tqdm
unstructured
wikipedia
wrapt
